<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Earthquake Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1>Earthquake Dashboard</h1>
    <div>{{ graph | safe }}</div>
    <nav>
      <a href="/">Bubble Chart</a> | <a href="/scatter">Scatter Plot</a> |
      <a href="/time-series">Time Series</a> |
      <a href="/histogram">Histogram</a>| <a href="/heatmap">Heatmap</a>|
      <a href="/boxplot">Box Plot</a> |
      <a href="/depth-vs-magnitude">Depth vs. Magnitude</a> |
      <a href="/hourly-frequency">Hourly Frequency</a> |
      <a href="/daily-frequency">Daily Frequency</a> |
      <a href="/monthly-frequency">Monthly Frequency</a> |
      <a href="/depth-histogram">Depth Histogram</a> |
      <a href="/bubble-depth-magnitude">Bubble Chart</a> |
      <a href="/region-distribution">Region Distribution</a>
    </nav>
  </body>
</html>
